<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1"
        vendor="CoNWeT" name="Node Network Widget" version="1.0.1">
  <details>
    <title>Node Network</title>
    <authors>Cesar Guzman &lt;cguzman@conwet.es&gt;</authors>
    <email>wirecloud@conwet.com</email>
    <description>Chart that shows a json-like data structure</description>
    <license>Apache License 2.0</license>
    <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
  </details>

  <contents src="index.html" useplatformstyle="true"/>

  <rendering width="15" height="40"/>

  <preferences>
    <preference name="View" type="list" label="Select View" default="graph">
      <option label="Graph View" value="graph" />
      <option label="Tree View" value="tree" />
    </preference>
  </preferences>

  <wiring>
    <inputendpoint name="InputDataSet" type="text" label="Input Data Set" description="Receives the data to show in the chart" />
    <outputendpoint name="NodeData" type="text" label="Node Data" description="Sends the data of the node that has been clicked" />
  </wiring>
</widget>
