<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="Visualizer-op" version="1.0.1">
  <details>
    <title>Parser Visualizer</title>
    <authors>Cesar Guzman</authors>
    <email>c.galpizar@alumnos.fi.upm.es</email>
    <description>Parses a JSON so it can be dispayed in visualizer JSON</description>
    <license>Apache License 2.0</license>
    <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
  </details>

  <wiring>
    <inputendpoint name="inputJSON" type="text" label="Input JSON"
		   description="Receives a JSON file"/>

    <outputendpoint name="outputJSON" type="text" label="Output JSON"
		    description="Sends a JSON file" />
  </wiring>

  <scripts>
    <script src="js/main.js"/>
  </scripts>

</operator>
