<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="Node Network Data Formatter" version="1.0.1">
  <details>
    <title>Node Network Data Formatter</title>
    <authors>Cesar Guzman</authors>
    <email>cguzman@conwet.es</email>
    <description>Parses a JSON so it can be dispayed in Node Network widget</description>
    <license>Apache License 2.0</license>
    <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
  </details>

  <wiring>
    <inputendpoint name="DataToFormat" type="text" label="Data To Format"
		   description="Receives a JSON-like data structure"/>

    <outputendpoint name="FormattedData" type="text" label="FormattedData"
		    description="Sends a JSON-like daha structure" />
  </wiring>

  <scripts>
    <script src="js/main.js"/>
  </scripts>

</operator>
